.MainImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  position: relative;
  aspect-ratio: 4 / 3;
  margin-bottom: 1.6rem;
}

.MainImageContainer img {
  width: 100%;
  height: auto;
}

.ImagesContainerGrid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(11, auto);
  gap: 1.6rem;
  margin: 0 auto;
  padding-bottom: 8rem;
}

.ImagesContainerGrid > div {
  width: 100%;
  overflow: hidden;
  height: auto;
  position: relative;
  overflow: hidden;
}

.ImagesContainerGrid > div:nth-of-type(1) {
  grid-area: 1 / 1 / 7 / 2;
  aspect-ratio: 3 / 5;
}
.ImagesContainerGrid > div:nth-of-type(2) {
  grid-area: 1 / 2 / 4 / 3;
  aspect-ratio: 1 / 1;
}
.ImagesContainerGrid > div:nth-of-type(3) {
  grid-area: 7 / 1 / -1 / 2;
  aspect-ratio: 1 / 1;
}
.ImagesContainerGrid > div:nth-of-type(4) {
  grid-area: 4 / 2 / -1 / 3;
  aspect-ratio: 3 / 5;
}

@media (min-width: 768px) {
  .ImagesContainerGrid {
    padding-bottom: 20rem;
  }
}

@media (min-width: 1024px) {
  .MainImageContainer {
    margin-bottom: 4rem;
  }

  .ImagesContainerGrid {
    gap: 4rem;
  }
}
