.VehicleBrandingImages {
  padding-bottom: 8rem;
}

.MainImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  position: relative;
  aspect-ratio: 3 / 2;
  margin-bottom: 1.6rem;
}

.FullWidthImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  position: relative;
  aspect-ratio: 3 / 2;
  max-width: 1920px;
  margin-bottom: 1.6rem;
}

.ImagesContainerGrid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  margin: 0 auto;
  gap: 1.6rem;
}

.ImagesContainerGrid > div:nth-of-type(1) {
  grid-area: 1 / 1 / 2 / 2;
}
.ImagesContainerGrid > div:nth-of-type(2) {
  grid-area: 1 / 2 / 2 / 3;
}
.ImagesContainerGrid > div:nth-of-type(3) {
  grid-area: 2 / 1 / 3 / 2;
}
.ImagesContainerGrid > div:nth-of-type(4) {
  grid-area: 2 / 2 / 3 / 3;
}

.ImagesContainerGrid > div {
  width: 100%;
  overflow: hidden;
  height: auto;
  position: relative;
  overflow: hidden;
  aspect-ratio: 3 / 2;
}

@media (min-width: 1024px) {
  .ImagesContainerGrid {
    gap: 4rem;
  }

  .FullWidthImage,
  .MainImageContainer {
    margin-bottom: 4rem;
  }

  .VehicleBrandingImages {
    padding-bottom: 16rem;
  }
}
