.Hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100dvh + 84px);
  position: relative;
}

.Hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.Hero :global(.container) {
  position: relative;
  z-index: 1;
  width: 100%;
}

.Hero h1 {
  font-size: clamp(7.2rem, 6.2577rem + 7.2436vw, 16.2rem);
  display: flex;
  width: 100%;
  justify-content: flex-start;
  z-index: 1;
  text-transform: uppercase;
  -webkit-text-stroke: 1px var(--color-bg-light);
  color: transparent;
  font-weight: 800;
  margin-top: -3.2rem;
  opacity: 0.5;
}
