.EventDisplayImages {
  padding-bottom: 12rem;
}

.MainImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  position: relative;
  aspect-ratio: 10 / 7;
  margin-bottom: 1.6rem;
}

.Flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 1.6rem;
  gap: 1.6rem;
}

.Flex > div {
  width: 100%;
  overflow: hidden;
  height: auto;
  position: relative;
  overflow: hidden;
  aspect-ratio: 16 / 25;
}

@media (min-width: 1024px) {
  .EventDisplayImages {
    padding-bottom: 16rem;
  }

  .Flex,
  .MainImageContainer {
    margin-bottom: 4rem;
  }

  .Flex {
    gap: 4rem;
  }
}
