.Button {
  border: 1px solid var(--button-border-color);
  color: var(--text-primary);
  padding: 1.2rem 2.8rem;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 1.6rem;
  cursor: pointer;
  border-radius: 2.4rem;
  transition: all 0.3s;
  font-family: var(--font-georgia-pro);
}

@media (min-width: 768px) {
  .Button {
    padding: 1.6rem 3.2rem;
  }

  .Button:hover {
    background-color: var(--button-border-color);
    color: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }
}
