.BrochureImages {
  padding-bottom: 16rem;
}

.MainImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  position: relative;
  aspect-ratio: 1.5 / 1;
  margin-bottom: 4rem;
}
