.BrochureImages {
  padding-bottom: 8rem;
}

.MainImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  position: relative;
  aspect-ratio: 1.5 / 1;
  margin-bottom: 1.6rem;
}

@media (min-width: 1024px) {
  .BrochureImages {
    padding-bottom: 16rem;
  }
  .MainImageContainer {
    margin-bottom: 4rem;
  }
}
