.OurWork {
  background-color: var(--color-bg-light);
  padding: 5.6rem 0 12rem;
  position: relative;
  border-top: 1px solid var(--color-bg-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.OurWorkExpanded {
  padding: 12rem 0 6.4rem;
}

.OurWorkContainer {
  background-color: var(--color-bg-light);
  z-index: 10;
  padding-top: 2rem;
}

.OurWork h2 {
  margin-bottom: 6.4rem;
  text-align: left;
}

.OurWork > div:has(h2) {
  width: 100%;
}

.OurWork > div:has(h2) h2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.OurWorkGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 8rem;
}

/* Each item in a row */
.OurWorkItem {
  width: 100%;
}

.OurWorkGrid h3 {
  font-weight: 800;
  font-family: var(--font-open-sans);
  text-transform: uppercase;
  margin: 0.8rem 0 0.4rem;
}

.OurWorkItem p {
  font-family: var(--font-georgia-pro);
  border-bottom: 1px solid var(--color-grey);
  padding-bottom: 1.2rem;
  margin-bottom: 2.4rem;
  color: var(--text-primary);
  text-transform: capitalize;
}

.OurWorkItem:last-of-type p {
  margin-bottom: 0;
}

/* Ensure images keep correct aspect ratio */
.OurWorkItem > div {
  width: 100%;
  height: auto;
  position: relative;
  aspect-ratio: 2 / 1;
  overflow: hidden;
}

.OurWorkGrid + a {
  margin-top: 4rem;
}

.OurWorkItem a {
  text-decoration: none;
  color: #000;
  line-height: 1.5;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.OurWorkItem img {
  transition: transform 0.3s ease-in-out;
}

.OurWorkItem a h3:hover {
  color: var(--text-primary);
}

.OurWorkItem a img:hover {
  transform: scale(1.05);
}

.OurWorkItem a + p {
  padding-bottom: 1.6rem;
}

/* Larger screens */
@media (min-width: 768px) {
  .OurWork {
    padding: 12rem 0 20rem;
  }

  .OurWork h2 {
    -webkit-text-stroke: 2.5px var(--text-primary);
  }

  .OurWorkExpanded {
    padding: 16rem 0 24rem;
  }

  .OurWorkGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.2rem;
    padding-bottom: 0;
  }

  .OurWorkItem p {
    margin-bottom: 0;
  }

  .OurWork h2 {
    margin-bottom: 6.4rem;
  }

  .OurWorkGrid + a {
    margin-top: 8rem;
  }
}

@media (min-width: 1024px) {
  .OurWork > div:has(h2) h2 {
    flex-direction: row;
    gap: 2.4rem;
  }
}
