.Footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  padding: 0.8rem 1.6rem 0;
}

.Footer svg {
  max-width: 200px;
}

.FooterContent {
  padding: 2.4rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
  gap: 0.8rem;
}

.FooterContent * {
  font-size: 1.4rem;
}

.FooterContent span,
.FooterContent p,
.FooterContent a {
  color: var(--text-secondary);
}

@media (min-width: 360px) {
  .FooterContent * {
    font-size: 1.6rem;
  }
}

@media (min-width: 768px) {
  .Footer {
    padding: 8rem 0 0;
  }

  .FooterContent {
    gap: 0;
    border-top: 1px solid var(--color-grey);
    margin-top: 2.4rem;
  }

  .FooterContent p,
  .FooterContent a {
    font-size: 1.6rem;
  }

  .FooterContent span {
    display: none;
  }

  .FooterContent p,
  .FooterContent a {
    color: var(--text-primary);
  }
}
