.Footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  padding: 2.4rem 1.6rem 0;
}

.Footer svg {
  max-width: 200px;
}

.FooterContent {
  padding: 2.4rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.8rem;
}

.FooterContent p,
.FooterContent a {
  color: var(--text-primary);
}

@media (min-width: 768px) {
  .Footer {
    padding: 4rem 0;
  }

  .FooterContent {
    flex-direction: row;
    gap: 0;
    border-top: 1px solid var(--color-grey);
    margin-top: 2.4rem;
  }

  .FooterContent p,
  .FooterContent a {
    font-size: 1.6rem;
  }
}
