.IdentityImagesBottom {
  padding-bottom: 8rem;
  background-color: #00aae6;
}

.MainImageContainerTop,
.DesktopImageContainer,
.MainImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  position: relative;
}

.MainImageContainer {
  aspect-ratio: 16 / 10;
  margin-bottom: 4rem;
}

.MainImageContainerTop {
  aspect-ratio: 16 / 10;
  margin-bottom: 1.6rem;
}

.IdentityImagesBottom .MainImageContainer {
  margin-bottom: 2.4rem;
}

.IdentityImagesBottom .MainImageContainer:nth-of-type(4) {
  margin-bottom: 0;
}

.DesktopImageContainer {
  max-width: 1920px;
  margin: 0 auto;
  margin: 6.4rem 0;
  aspect-ratio: 2.4 / 1;
}

.DesktopImageContainer::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #fff;
}

.FlexBottom,
.Flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.Flex {
  gap: 1.6rem;
  margin-bottom: 1.6rem;
}

.FlexBottom {
  gap: 2.4rem;
  margin-bottom: 2.4rem;
}

.FlexBottom > div,
.Flex > div {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1 / 1;
}

.Flex > div {
  aspect-ratio: 1 / 1;
}

.FlexBottom > div {
  aspect-ratio: 3 / 6;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  border-radius: 0.4rem;
}

.BelowDesktopImageContainer {
  max-width: 96rem;
  margin: 0 auto;
}

.BelowDesktopImageContainer .MainImageContainer {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  border-radius: 2.4rem;
}

@media (min-width: 1024px) {
  .IdentityImagesBottom {
    padding-bottom: 20rem;
  }

  .MainImageContainerTop {
    margin-bottom: 4rem;
  }

  .Flex {
    gap: 4rem;
    margin-bottom: 4rem;
  }

  .DesktopImageContainer {
    margin: 8rem 0 0;
    display: flex;
  }

  .FlexBottom {
    gap: 8rem;
    margin-bottom: 8rem;
  }

  .FlexBottom > div {
    border-radius: 0.8rem;
  }

  .IdentityImagesBottom .MainImageContainer {
    margin-bottom: 8rem;
  }
}
