.ContentStrategyImages {
  background-color: #abacb3;
  padding-bottom: 8rem;
}

.MainImageContainerMobile::before,
.MainImageContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #ffffff;
}

.ContentStrategyImages > div {
  transform: translateY(-1rem);
}

.ImagesContainerGridOddWrapper {
  padding: 8rem 0 0;
}

.MainImageContainerMobile,
.MainImageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}

.MainImageContainerMobile {
  aspect-ratio: 1.6 / 1;
}
.MainImageContainer {
  aspect-ratio: 1.5 / 1;
}

.MainImageContainer {
  display: none;
}

.MainImageContainerMobile img,
.MainImageContainer img {
  width: 100%;
  height: auto;
}

.ImagesContainerGridEven,
.ImagesContainerGridOdd {
  display: grid;
  grid-template-columns: repeat(2, autos);
  grid-template-rows: repeat(15, auto);
  max-width: 580px;
  gap: 1.6rem;
  margin: 0 auto;
}

.ImagesContainerGridOdd > div,
.ImagesContainerGridEven > div {
  width: 100%;
  overflow: hidden;
  height: auto;
  position: relative;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  overflow: hidden;
}

.ImagesContainerGridEven > div:nth-of-type(1) {
  grid-area: 1 / 1 / 6 / 2;
  aspect-ratio: 2 / 3;
}
.ImagesContainerGridEven > div:nth-of-type(3) {
  grid-area: 6 / 1 / 15 / 2;
  aspect-ratio: 3 / 7;
}
.ImagesContainerGridEven > div:nth-of-type(2) {
  grid-area: 1 / 2 / 9 / 3;
  aspect-ratio: 3 / 7;
}
.ImagesContainerGridEven > div:nth-of-type(4) {
  grid-area: 9 / 2 / 15 / 3;
  aspect-ratio: 2 / 3;
}

.ImagesContainerGridOdd > div:nth-of-type(1) {
  grid-area: 1 / 1 / 10 / 2;
  aspect-ratio: 3 / 7;
}
.ImagesContainerGridOdd > div:nth-of-type(3) {
  grid-area: 10 / 1 / 15 / 2;
  aspect-ratio: 2 / 3;
}
.ImagesContainerGridOdd > div:nth-of-type(4) {
  grid-area: 6 / 2 / 15 / 3;
  aspect-ratio: 3 / 7;
}
.ImagesContainerGridOdd > div:nth-of-type(2) {
  grid-area: 1 / 2 / 6 / 3;
  aspect-ratio: 2 / 3;
}

@media (min-width: 768px) {
  .ContentStrategyImages {
    padding-bottom: 0;
  }

  .ImagesContainerGridEven,
  .ImagesContainerGridOdd {
    gap: 4rem;
  }

  .ContentStrategyImages > div {
    transform: translateY(-8rem);
  }
}

@media (min-width: 1024px) {
  .ContentStrategyImages > div {
    transform: translateY(-28rem);
  }

  .MainImageContainer {
    display: flex;
  }

  .MainImageContainerMobile {
    display: none;
  }
}
