:root {
  --color-grey: #d4d4d4;
  --color-bg-white: #fff;
  --color-bg-dark: #000;
  --color-bg-light: #f0f0f0;
  --text-primary: #444;
  --button-border-color: #444;
  --color-error: #ff3333;
  --who-we-are: #121212;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-open-sans);
}

.container {
  max-width: 112rem;
  margin: 0 auto;
  padding: 0 1.6rem;
  position: relative;
}

a,
p {
  font-family: var(--font-georgia-pro);
  color: var(--text-primary);
  font-size: 1.6rem;
  line-height: 1.6;
}

h2 {
  font-size: clamp(9.2rem, 7.5577rem + 7.2436vw, 16.2rem);
  display: flex;
  gap: 2.5vw;
  overflow: hidden;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

h2 span {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.24rem;
  line-height: 98%;
}

h2 span:nth-of-type(3),
h2 span:nth-of-type(4) {
  -webkit-text-stroke: 1px var(--color-bg-dark);
  color: transparent;
}

h3 {
  font-size: clamp(2.8rem, 2.5vw, 3.6rem);
  font-weight: 800;
}

.m-l-auto {
  margin-left: auto;
}

.container:has(.menu-open) .logo {
  filter: invert(1);
}

.container:has(.menu-open) button {
  border: 1px solid var(--color-bg-dark);
}

@media (min-width: 768px) {
  .container {
    padding: 0;
  }

  h3 {
    letter-spacing: 0.16rem;
  }
}
