@import url(https://db.onlinewebfonts.com/c/55f058d34fa2ce0e6894aff024538d34?family=VAGRoundedLTPro-Light);

:root {
  --color-grey: #d4d4d4;
  --color-bg-white: #fff;
  --color-bg-dark: #000;
  --color-bg-light: #f0f0f0;
  --text-primary: #444;
  --text-primary-light: #888;
  --text-secondary: #8d8d8d;
  --button-border-color: #000;
  --color-error: #ff3333;
  --who-we-are: #131313;
  --color-header-elements: #c0c0c0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-open-sans);
}

main {
  position: relative;
}

/* Ensure footer is visible */
body > footer {
  position: relative;
  z-index: 1;
}

.container {
  max-width: 112rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

a,
p {
  font-family: var(--font-georgia-pro);
  color: var(--text-primary);
  font-size: 1.6rem;
  line-height: 1.6;
}

h2 {
  font-size: clamp(4.5rem, 19.091vw + 0.205rem, 15rem);
  display: flex;
  gap: 2.5vw;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

h2 span {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.24rem;
  line-height: 98%;
}

h3 {
  font-size: clamp(2.8rem, 2.5vw, 3.6rem);
  font-weight: 800;
}

.m-l-auto {
  margin-left: auto;
}

.container:has(.menu-open) .logo path {
  fill: black !important;
}

.container:has(.menu-open) button {
  border: 1px solid var(--color-bg-dark) !important;
  background-color: transparent !important;
  color: #000 !important;
}

.container:has(.menu-open) button:hover {
  color: var(--color-bg-light) !important;
  background-color: var(--color-bg-dark) !important;
  box-shadow: none;
}

.st0 {
  fill: #1a1a18;
}
.st1 {
  font-family: "VAGRoundedLTPro-Light";
}
.st2 {
  font-size: 11.989px;
}
.st3 {
  fill: #ffffff;
}
.st4 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #ffffff;
}

.stt0 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #b0a18b;
}
.stt1 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #eae0c7;
}
.stt2 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #ffffff;
}

.stt3 {
  clip-path: url(#SVGID_00000005257980864455253910000014532479992940977850_);
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #ffffff;
}
.stt4 {
  clip-path: url(#SVGID_00000005257980864455253910000014532479992940977850_);
}

.stt5 {
  clip-path: url(#SVGID_00000116919310931313028230000012947448005238207366_);
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #db415d;
}

.stt6 {
  clip-path: url(#SVGID_00000005257980864455253910000014532479992940977850_);
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #d9dada;
}

.stt7 {
  clip-path: url(#SVGID_00000031890727171789249970000012046248115921382277_);
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #f9d2e5;
}
.stt8 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #a7d3ae;
}

.swiper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.swiper-slide img {
  width: 100%;
  height: auto;
}

.swiper-pagination {
  position: absolute;
  bottom: 3.2rem !important;
  z-index: 10 !important;
}

.swiper-pagination-bullet {
  background: rgb(187, 187, 187) !important;
  width: 1.6rem !important;
  height: 1.6rem !important;
  margin: 0 0.8rem !important;
  cursor: pointer !important;
  opacity: 0.5 !important;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
  opacity: 1 !important;
}

@media (min-width: 768px) {
  h3 {
    letter-spacing: 0.16rem;
  }
}

@media (min-width: 112rem) {
  .container {
    padding: 0;
  }
}
