:root {
  --color-grey: #d4d4d4;
  --color-bg-dark: #131313;
  --color-bg-light: #f0f0f0;
  --text-primary: #444;
  --button-border-color: #131313;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 124rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

h2 {
  font-size: clamp(9.2rem, 7.5vw, 15rem);
  display: flex;
  gap: 2.5vw;
  overflow: hidden;
  width: 100%;
  align-items: center;
  justify-content: center;
}

h2 span {
  text-transform: uppercase;
  font-family: var(--font-open-sans);
  font-weight: 800;
  letter-spacing: 1rem;
}

h2 span:nth-of-type(3),
h2 span:nth-of-type(4) {
  -webkit-text-stroke: 1.5px #000;
  color: transparent;
}

h3 {
  font-size: clamp(2.2rem, 2.5vw, 3rem);
}

p {
  font-size: 1.6rem;
}

@media (min-width: 768px) {
  .container {
    padding: 0;
  }
}
