.CompanyDetails {
  display: flex;
  flex-direction: column;
}

.CompanyDetails p {
  border-bottom: 1px solid var(--color-grey);
}

.CompanyDetails p {
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--label-color);
  padding-bottom: 1.6rem;
  margin-bottom: 2.4rem;
}

.CompanyDetails p span {
  opacity: 0.75;
}

.CompanyDetails p a {
  color: var(--text-primary);
  text-decoration: none;
  font-weight: 600;
}

.CompanyDetails p a:hover {
  text-decoration: underline;
}

.CompanyDetails svg {
  width: 3.2rem;
  height: 3.2rem;
  display: inline-block;
  margin-left: auto;
  position: absolute;
  right: 0;
  top: 0.6rem;
  transform: translate(0, -50%);
  cursor: pointer;
}

.CompanyDetailsFlex {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
