.CompanyDetails {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.CompanyDetails p {
  border-bottom: 1px solid var(--color-grey);
}

.CompanyDetails p {
  font-size: 1.6rem;
  color: var(--text-primary);
  position: relative;
  height: 7.2rem;
}

.CompanyDetails p:nth-of-type(1) {
  height: 3.6rem;
}

.CompanyDetails p:nth-of-type(1) span {
  top: -0.1rem;
}

.CompanyDetails p span {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.CompanyDetails p a {
  color: var(--text-primary);
  text-decoration: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  display: grid;
  place-content: center;
}

.CompanyDetails p a:hover {
  text-decoration: underline;
}

.CompanyDetails svg {
  width: 2.8rem;
  height: 2.8rem;
  display: inline-block;
  margin-left: auto;
  cursor: pointer;
}

.CompanyDetailsFlex {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .CompanyDetails {
    margin-top: 0;
  }
}
