.MenuWrapper {
  position: relative;
  background-color: white;
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 1000;
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.MenuWrapper > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 112rem;
}

.Menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.MenuOpen {
  transform: translateX(0);
  transition: all 0.3s ease-in-out;
}

.MenuOpen .Menu {
  opacity: 1;
  pointer-events: all;
}

.Menu span,
.Menu a {
  font-family: var(--font-open-sans);
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
  display: flex;
  align-items: center;
}

.Menu a {
  font-size: 4dvh;
  line-height: 2.4dvh;
  transform: translateY(0.2dvh);
  color: var(--color-bg-dark);
  text-decoration: none;
  position: relative;
  z-index: 1001;
  transition: all 0.3s ease-in-out;
}
.Menu span {
  font-size: 11dvh;
  line-height: 8.6dvh;
  color: transparent;
  -webkit-text-stroke: 1px var(--color-bg-dark);
  opacity: 0.3;
  vertical-align: middle;
}

.Menu a.active {
  opacity: 0.7;
}

.Menu a.notActive {
  opacity: 1;
}

.MenuWrapper.open + button {
  border: 1px solid var(--color-bg-dark);
}

.Socials {
  display: flex;
  gap: 1rem;
  width: auto;
  z-index: 1001;
  position: absolute;
  left: 1.6rem;
  bottom: 2rem;
}

.Socials svg {
  width: 3.2rem;
  height: 3.2rem;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .MenuWrapper > div {
    flex-direction: row-reverse;
  }

  .Menu {
    width: 50dvw;
    margin-left: auto;
    height: 100%;
    width: 50%;
  }

  .Socials {
    position: relative;
    width: 50%;
    left: 0;
    bottom: 0;
    margin-top: auto;
  }

  .Socials svg {
    width: 2.5vw;
    height: 2.5vw;
  }

  .Menu a {
    font-size: 5dvh;
    line-height: 2.8dvh;
    transform: translate(1rem, 0.5dvh);
  }

  .Menu span {
    font-size: 20dvh;
    line-height: 16dvh;
  }
}
