.MonogramLogoImages {
  padding-bottom: 16rem;
}

.MainImageContainerBottom,
.MainImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 4rem;
}

.MainImageContainer {
  aspect-ratio: 16 / 9;
}

.MainImageContainerBottom {
  aspect-ratio: 1.5/ 1;
}

.Flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 4rem;
  gap: 4rem;
}

.Flex > div {
  width: 100%;
  overflow: hidden;
  height: auto;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1/1;
}
