.MonogramLogoImages {
  padding-bottom: 8rem;
}

.MainImageContainerBottom,
.MainImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 1.6rem;
}

.MainImageContainer {
  aspect-ratio: 16 / 9;
}

.MainImageContainerBottom {
  aspect-ratio: 1.5/ 1;
}

.Flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 1.6rem;
  gap: 1.6rem;
}

.Flex > div {
  width: 100%;
  overflow: hidden;
  height: auto;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1/1;
}

@media (min-width: 1024px) {
  .MonogramLogoImages {
    padding-bottom: 16rem;
  }

  .Flex,
  .MainImageContainerBottom,
  .MainImageContainer {
    margin-bottom: 4rem;
  }

  .Flex {
    gap: 4rem;
  }
}
