.WhoWeAre {
  background-color: var(--who-we-are);
  padding: 8rem 0 10.4rem;
  position: relative;
  width: 100%;
  border-top: 1px solid var(--who-we-are);
}

.Anchor {
  position: absolute;
  top: -4rem;
  width: 100%;
  height: 2px;
  visibility: hidden;
}

.WhoWeAre h2 {
  margin-bottom: 6.4rem;
  -webkit-text-stroke: 1px #fff;
}

.WhoWeAre p {
  color: #fff;
  max-width: 85dvw;
  line-height: 200%;
  position: relative;
  margin-bottom: 1.6rem;
}

.WhoWeAre p:last-of-type {
  margin-top: 2.4rem;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .Anchor {
    top: 4rem;
  }

  .WhoWeAre {
    padding: 12rem 0 24rem;
  }

  .WhoWeAre p {
    font-size: 1.8rem;
  }
  .WhoWeAre h2 {
    margin-bottom: 6.4rem;
    -webkit-text-stroke: 2px #fff;
  }

  .WhoWeAre p:last-of-type {
    margin-top: 4rem;
  }
}
