.WhoWeAre {
  background-color: var(--who-we-are);
  padding: 8rem 0 10.4rem;
  position: relative;
  width: 100%;
}

.WhoWeAre h2 {
  margin-bottom: 6.4rem;
}

.WhoWeAre p {
  color: var(--color-bg-light);
  max-width: 85dvw;
  line-height: 200%;
  position: relative;
  font-size: 1.8rem;
}

.WhoWeAre p:last-of-type {
  margin-top: 2.4rem;
}

@media (min-width: 768px) {
  .WhoWeAre {
    padding: 12rem 0 24rem;
  }

  .WhoWeAre p {
    font-size: 1.8rem;
  }
  .WhoWeAre h2 {
    margin-bottom: 6.4rem;
  }

  .WhoWeAre p:last-of-type {
    margin-top: 4rem;
  }
}
