.Contact {
  background-color: var(--color-bg-white);
  padding: 6.4rem 0 2.4rem;
  position: relative;
  border-top: 1px solid var(--color-bg-white);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ContactExpanded {
  padding: 12rem 0 0;
}

.ContactGrid {
  width: 100%;
}

.Contact h3 {
  text-transform: uppercase;
  font-weight: 800;
  text-align: left;
  border-bottom: 1px solid var(--color-grey);
  padding: 6.4rem 0 1.6rem;
  margin-bottom: 1.6rem;
}

.Contact h3 + p {
  line-height: 130%;
}

.ContactContent {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 100%;
  padding-top: 8rem;
}

.ContactContent > form,
.ContactContent > div {
  flex: 1;
}

.Contact button {
  margin-top: 6.4rem;
}

.FooterContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-top: 2.4rem;
  justify-content: space-between;
}

.FooterContent * {
  color: var(--text-primary-light);
  font-size: min(4vw, 1.6rem);
}

@media (min-width: 768px) {
  .Contact {
    padding: 12rem 0 4rem;
  }

  .Contact h2 {
    -webkit-text-stroke: 2.5px var(--text-primary);
  }

  .ContactExpanded {
    padding: 16rem 0 8rem;
  }

  .Contact h3 {
    padding: 6.4rem 0 2.4rem;
    margin-bottom: 2.4rem;
  }

  .ContactContent {
    flex-direction: row;
    gap: 4.8rem;
  }

  .ContactContent > form,
  .ContactContent > div {
    flex: unset;
  }

  .ContactContent > form {
    width: 60%;
    display: block;
  }

  .ContactContent > div {
    width: 40%;
  }

  .FooterContent {
    padding-top: 2.4rem;
    border-top: 1px solid var(--color-grey);
    margin-top: 6.4rem;
  }

  .FooterContent span {
    display: none;
  }

  .FooterContent * {
    color: var(--text-primary);
  }
}
