.SpiritLabelImages {
  padding-bottom: 8rem;
}

.Flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 1.6rem;
  gap: 1.6rem;
}

.Flex > div {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.Double > div {
  aspect-ratio: 5 / 8;
}

.Triple > div {
  aspect-ratio: 1/1;
}

@media (min-width: 1024px) {
  .Flex {
    gap: 4rem;
    margin-bottom: 4rem;
  }

  .SpiritLabelImages {
    padding-bottom: 16rem;
  }
}
